certifi==2020.6.20
chardet==3.0.4
chromedriver==2.24.1
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
decorator==4.4.2
idna==2.10
requests==2.24.0
selenium==3.141.0
self==0.0.0
sentry-sdk==0.16.1
urllib3==1.26.5
webdriver-manager==3.2.1
